body{
  background-color: rgb(24, 27, 73);
  color:white;
  margin:20px;
  font: 36px "monospace", "Roboto", sans-serif;
}

.game{
  display:flex;
  flex-direction:column;
  align-items:center;
}

.board-row{
  display:flex;
  flex-flow:row nowrap;
}

.square{
    background-color:rgb(208, 243, 53);
    margin:10;
    padding:0;
    border:1px solid black;
    font-size:90px;
    font-weight: bold;
    text-align:center;
    width:100px;
    height:100px;
    color:rgb(3, 56, 56);
}

.square:focus {
  outline:none;
  background-color: rgb(164, 194, 30);

}